# TESTING DB QUERIES
***

<p style="text-align: center;">
  <img src="../images/testing.png" alt="Database" style="width: 1000px; height: 400px;">
</p>

In [3]:
from sqlalchemy import create_engine, inspect,text
import pandas as pd

In [4]:
# Specifying the database path
db_path = 'student_database.db' 

# Creating a connection to the SQLite database
engine = create_engine(f'sqlite:///{db_path}')

with engine.connect() as conn:
    print("Connected to the database.")
    inspector = inspect(engine)
    tables = inspector.get_table_names()
    print("Tables in the database:", tables)

Connected to the database.
Tables in the database: ['student_performance']

### Simple query to get the first few rows of the table

In [8]:
query = "SELECT * FROM student_performance LIMIT 5;"
df = pd.read_sql(query, con=engine)
df

,Student ID,Gender,Age Group,Living Situation,Parent Education Level,Family Financial Status,Class,Department,Performance in English,Performance in Maths,...,School Learning Resources,Motivation for Attending School,Plan to Attend University,JAMB Goal Score,Extracurricular Hours,Free Time Activities,Language at Home,Involved in Work Outside School,Last Exam Performance,Foundational Knowledge
0,1001,Female,15 - 16,Both parents,Post-graduate education,We meet our needs but can't afford luxuries,SS2,Science,Excellent,Good,...,Library,To learn and gain knowledge,Yes,200 To 250,Less than 5 hours,Doing chores at home,Yoruba,Frequently,60% - 69%,Average
1,1002,Female,15 - 16,Both parents,Higher Education,We can afford some luxuries,SS3,Science,Good,Good,...,Library,To prepare for a good career,Yes,300 And Above,5 - 10 hours,Others,Yoruba,Occasionally,70% - 100%,Strong
2,1003,Male,15 - 16,Both parents,Post-graduate education,We meet our needs but can't afford luxuries,SS3,Science,Fair,Fair,...,Nil,To prepare for a good career,Not Sure,200 To 250,More than 10 hours,Playing sports,English,No,60% - 69%,Average
3,1004,Male,12 - 14,Both parents,Higher Education,We can afford some luxuries,SS3,Science,Good,Excellent,...,"Computer lab, Extra tutoring sessions",To learn and gain knowledge,Yes,300 And Above,Less than 5 hours,"Studying,Socializing with friends,Watching mov...",English,No,70% - 100%,Average
4,1005,Male,15 - 16,Single parent,Higher Education,We are financially comfortable,SS3,Science,Good,Fair,...,"Computer lab, Extra tutoring sessions",To prepare for a good career,Yes,200 To 250,Less than 5 hours,"Watching movies,Playing sports,Doing chores at...",English,No,60% - 69%,Strong

### Checking the number of rows

In [11]:
with engine.connect() as conn:
    
    query = text("SELECT COUNT(*) FROM student_performance;")
    result = conn.execute(query).fetchone()
    print(f"Total rows: {result[0]}")

Total rows: 100

 ### Check Column Names and Data Types

In [14]:
with engine.connect() as conn:
    # Query to check the column names and types
    query = text("PRAGMA table_info(student_performance);")
    result = conn.execute(query).fetchall()

    for row in result:
        print("Column: "+ row[1] + "Type: " + row[2])

Column: Student IDType: BIGINT
Column: GenderType: TEXT
Column: Age GroupType: TEXT
Column: Living SituationType: TEXT
Column: Parent Education LevelType: TEXT
Column: Family Financial StatusType: TEXT
Column: ClassType: TEXT
Column: DepartmentType: TEXT
Column: Performance in EnglishType: TEXT
Column: Performance in MathsType: TEXT
Column: Performance in BiologyType: TEXT
Column: Performance in PhysicsType: TEXT
Column: Performance in ChemistryType: TEXT
Column: Performance in Lit in EnglishType: TEXT
Column: Performance in GovernmentType: TEXT
Column: Performance in CRSType: TEXT
Column: Performance in CommerceType: TEXT
Column: Performance in AccountingType: TEXT
Column: Performance in EconomicsType: TEXT
Column: Study Hours per WeekType: TEXT
Column: Extra TutoringType: TEXT
Column: School AttendanceType: TEXT
Column: Extracurricular ParticipationType: TEXT
Column: Considered Dropping OutType: TEXT
Column: Reason To DropoutType: TEXT
Column: Experienced BullyingType: TEXT
Column: Type of BullyingType: TEXT
Column: Comfort in School EnvironmentType: TEXT
Column: Trusted TeacherType: TEXT
Column: Peer PressureType: TEXT
Column: Parents Help with HomeworkType: TEXT
Column: Parents Attend Parent-Teacher MeetingType: TEXT
Column: Parents Encourage Higher EducationType: TEXT
Column: Stress About SchoolworkType: TEXT
Column: Confidence in Academic AbilityType: TEXT
Column: Access to CounselingType: TEXT
Column: Home Learning ResourcesType: TEXT
Column: School Learning ResourcesType: TEXT
Column: Motivation for Attending SchoolType: TEXT
Column: Plan to Attend UniversityType: TEXT
Column: JAMB Goal ScoreType: TEXT
Column: Extracurricular HoursType: TEXT
Column: Free Time ActivitiesType: TEXT
Column: Language at HomeType: TEXT
Column: Involved in Work Outside SchoolType: TEXT
Column: Last Exam PerformanceType: TEXT
Column: Foundational KnowledgeType: TEXT

### Querying Data Based on Conditions

In [17]:
# Query to find rows where students studied more than 15 hours
query = "SELECT * FROM student_performance WHERE `Study Hours per Week` = 'More than 15 hours';"
df = pd.read_sql(query, con=engine)
df

,Student ID,Gender,Age Group,Living Situation,Parent Education Level,Family Financial Status,Class,Department,Performance in English,Performance in Maths,...,School Learning Resources,Motivation for Attending School,Plan to Attend University,JAMB Goal Score,Extracurricular Hours,Free Time Activities,Language at Home,Involved in Work Outside School,Last Exam Performance,Foundational Knowledge
0,1037,Female,15 - 16,Guardian,Higher Education,We are financially comfortable,SS2,Humanities,Excellent,Good,...,Extra tutoring sessions,To learn and gain knowledge,Yes,300 And Above,More than 10 hours,Socializing with friends,English,Frequently,70% - 100%,Average
1,1048,Female,15 - 16,Both parents,Post-graduate education,We can afford some luxuries,SS3,Commercial,Good,Excellent,...,Library,To prepare for a good career,Yes,300 And Above,More than 10 hours,"Studying,Socializing with friends,Watching mov...",English,No,70% - 100%,Average
2,1053,Male,15 - 16,Guardian,Post-graduate education,We are financially comfortable,SS3,Science,Good,Fair,...,Library,To avoid being bored at home,Yes,250 To 300,5 - 10 hours,"Socializing with friends,Watching movies,Playi...",Yoruba,Occasionally,60% - 69%,Average
3,1054,Male,15 - 16,Both parents,Post-graduate education,We are financially comfortable,SS3,Science,Good,Excellent,...,"Library,Computer lab,Extra tutoring sessions",To prepare for a good career,Yes,300 And Above,Less than 5 hours,Others,English,No,70% - 100%,Average
4,1064,Male,15 - 16,Both parents,Post-graduate education,We are financially comfortable,SS3,Science,Good,Excellent,...,"Library,Computer lab,Extra tutoring sessions",To prepare for a good career,Yes,300 And Above,5 - 10 hours,"Studying,Socializing with friends,Watching mov...",English,Occasionally,70% - 100%,Strong

## Database Confirmation and Transition to Exploratory Data Analysis (EDA)

After successfully importing the processed survey data into our SQLite database, we've conducted several queries to validate its integrity:

1. **Table Existence:** The `student_performance` table was correctly created in the database.
2. **Data Preview:** We have verified that the first few rows of the table contain expected values from the original dataset.
3. **Row Count:** The total number of rows matches the number of records from the CSV file, confirming complete data import.
4. **Column Check:** All columns and their respective data types were imported accurately, ensuring consistency with the CSV file structure.
5. **Sample Queries:** Various queries were executed and they returned correct results, demonstrating that the database is functioning optimally.

### Next Step: Exploratory Data Analysis (EDA)

With the database validated, we now move on to **Exploratory Data Analysis (EDA)**. The purpose of EDA is to understand the underlying patterns, trends, and relationships within the dataset.